<h1>Welcome to your page, {{email}}</h1>

{{#each Turtles}}
    <h3>{{name}}</h3>
    <h3>Owner: {{User.email}}</h3>
    <h3>age: {{age}}</h3>
    <h3>Fights the Foot Clan?:  {{isTeenageMutantNinja}}</h3>
    <hr>
{{/each}}